#box_1{
display: flex;
width: 100% !important;
justify-content: space-between;
gap: 10px;
flex-wrap: wrap;

.box{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    .imgboxx{
        width: 80px ;
    }
    .text{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .title{
            font-size: 22px;
        }
        .info{
            opacity: 80%;
            max-width: 190px;
            width: 100%;
        }
    }
}
}