#filter_img {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        padding: 22px;
        .title{
            display: flex;
            flex-direction: column;
            max-width: 370px;
            width: 100%;
            gap: 40px;
            h3{
                font-size: 38px;
                color: #00af89;
            }
            .info{
                font-size: 24px;
                opacity: 75%;
            }
        }
        .f_img{
            max-width: 450px;
            width: 100%;
        }
    }

}